:root {
  --step--2: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.8rem);
  --step--1: clamp(0.83rem, calc(0.78rem + 0.29vw), 1rem);
  --step-0: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.07rem + 0.63vw), 1.56rem);
  --step-2: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
  --step-3: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
  --step-4: clamp(2.07rem, calc(1.73rem + 1.7vw), 3.05rem);
  --step-5: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Helvetica, Arial;
  font-size: 16px;
  background-color: var(--color-secondary);
  color: var(--color-dark);
}

/* ---------------- */
/*   Header & nav   */
/* ---------------- */

.primary-header {
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  height: 80px;
  background-color: var(--color-primary);
}

nav {
  align-items: center;
}

.mobile-nav-toggle {
  display: none;
}

.logo {
  margin: 1.5em;
  height: 3.5em;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-link {
  color: var(--color-secondary);
  white-space: nowrap;
}

.nav-link:hover {
  border-bottom: 2px solid var(--color-secondary);
}

.primary-navigation a {
  white-space: nowrap;
}

@media (max-width: 55em) {
  .primary-header {
    padding: 0 8em 0 0;
  }

  .primary-navigation {
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    text-align: left;

    flex-direction: column;
    padding: 5em 2em;
    background: var(--color-secondary);

    transform: translateX(100%);
    transition: transform 300ms ease-out;

    overflow-y: hidden;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .nav-link {
    color: var(--color-primary);
    white-space: nowrap;
    padding: 1em;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 9999;
    border: 0;
    background: transparent;
    background-image: url("assets/icons/burgermenu.svg");
    background-repeat: no-repeat;
    fill: var(--color-secondary);
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("assets/icons/menu-close.svg");
  }
}

@media (min-width: 50em) {
  .primary-navigation {
    --gap: clamp(1.5rem, 20vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(1rem, 2vw, 3rem);
  }
}


/* ------ */
/*  Hero  */
/* ------ */

.hero {
  margin: auto;
  padding-block: 10em;
  min-height: 80vh;
  padding-inline: min(10rem, 7vw);
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5em;
}

.hero-image {
  border-radius: 100vmax;
  height: 15em;
  width: 15em;
}

.hero-title {
  max-width: 25ch;
  font-size: var(--step-4);
  line-height: 1.25em;
  color: var(--color-dark);
  margin-bottom: 1rem;

}

.hero-text {
  max-width: 80ch;
  line-height: 1.5rem;
  color: var(--color-dark);
}

.cta-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.custom-shape-divider-top-1669624244 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  fill: var(--color-primary);
}

@media (max-width: 35em) {
  .hero {
    padding-block: 6em;
  }
}

/* --------------- */
/*  Offer Section  */
/* --------------- */

.offer-section {
  display: flex;
  gap: 2em;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-secondary);

  max-width: 1800px;
  margin: 0 auto;

  padding-block: 5em 8em;
  padding-inline: min(10rem, 7vw);
  width: 100%;
}

.offer-content {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.offer-description {
  max-width: 75ch;
  line-height: 1.35em;
}

.offer-section button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  width: auto;
}

.offer-button {
  display: flex;
  flex: 1;
  justify-content: center;
}

/* --------------- */
/*  Skill Section  */
/* --------------- */


.skill-section {
  display: flex;
  gap: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  max-width: 1800px;
  margin: 0 auto;

  padding-block: 3em;
  padding-inline: min(10rem, 7vw);
  width: 100%;

  background-color: var(--color-secondary-dark);
}

.skill-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 1em;
  max-width: 30ch;

  background-color: var(--color-secondary);
  border-radius: 10px;
}

.skill-icon {
  font-size: 2.25em !important;
  color: var(--color-primary);
}

.divider-below {
  rotate: 180deg;
}



/* ----------------- */
/*  Contact Section  */
/* ----------------- */

.contact-section {
  display: flex;
  gap: 2em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  max-width: 1800px;
  margin: 0 auto;

  padding-block: 5em 8em;
  padding-inline: min(10rem, 7vw);
  width: 100%;
}

.contact-content {
  display: flex;
  gap: 1em;
  flex-direction: column;
  max-width: 50ch;
}

.contact-title a {
  color: var(--color-primary);
}

.contact-description {
  max-width: 75ch;
  line-height: 1.35em;
}


/* ------ */
/*  Form  */
/* ------ */

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  background-color: var(--color-secondary);
  border-radius: 10px;
  border: 1px solid var(--color-primary);


  max-width: 400px;
  padding: 1em;

  border-radius: 10px;
}

form {
  display: grid;
}

input,
select,
textarea {
  padding: .5rem;
  margin-bottom: 1.5em;

  border-radius: 5px;
  border: 2px solid var(--color-secondary-dark);

  font-family: "Inter", Helvetica, Arial;
}

input :focus,
select :focus,
textarea :focus{
  border-color: var(--color-primary);
}

textarea {
  max-width: auto;
  resize: none;
}

label {
  font-size: .85em;
  padding-bottom: .25em;
  color: var(--color-dark);
}

.datenschutz-box a{
  color: var(--color-primary);
  text-decoration: none;
}

.datenschutz-box a:hover{
  border-bottom: 1px solid var(--color-primary) ;
}

.datenschutz-checkbox {
  margin: 0;
}

.submit-btn {
  margin-top: 2em;
}

.submit-btn:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
} 



/* -------- */
/*  Footer  */
/* -------- */

footer {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 3em 7em;
  justify-content: space-around;
  border-top: 1px solid var(--color-primary);
}

.primary-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;

  padding-block: 2em 4em;
}

.logo-footer {
  height: 4em;
}

.contact-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em; 
}

.contact-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.contact-icon {
  height: 1.5rem;
  aspect-ratio: 1;
}

.contact p {
  color: var(--color-grey);
}

footer nav {
  font-weight: 300;
}   

nav ul {
  list-style: none;
  padding: 0;
}

.sec-nav-link {
  color: var(--color-grey);
}

.sec-nav-link:hover {
  border-bottom: 1px solid var(--color-secondary);
}

@media (max-width: 35em) {
  footer {
    justify-content: left;
    --gap: 2em;
    flex-direction: column;

    padding: 1em;
    height: auto;
  }

  .secondary-navigation {
    --gap: 1em;
  }

  footer nav ul{
    display: flex;
    flex-direction: column;
  }
}
