:root {
  --color-primary: #5A80F2;
  --color-primary-light: #92afff;
  --color-primary-dark: #0454bf;
  --color-secondary: #f7f7f7;
  --color-secondary-light: #ffffff;
  --color-secondary-dark: #efefef;
  --color-dark: #212738;

  --fz-xl: clamp(2rem, 10vw + 1rem, 4rem);
  --fz-600: 2rem;
  --fz-500: 1.5rem;
  --fz-400: 1.25rem;
  --fz-300: 1rem;
}

@media (max-width: 40em) {
  :root {
    --fz-600: 3rem;
    --fz-500: 1.5rem;
    --fz-400: 1.25rem;
    --fz-300: 1.125rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1em;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
  margin: 0;
  line-height: 1.1em;
}

h5 {
  font-size: 1em;
  margin: 0;
  line-height: 1.1em;
}

img {
  display: block;
}

/* --------------- */
/* Utility Classes */
/* --------------- */

.active {
    border-bottom: 1px solid var(--color-secondary);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/* ---------------------- */
/* General Button Classes */
/* ---------------------- */

.button-small {
  color: var(--color-dark);
  background-color: var(--color-secondary);
  padding: 1em 2em;
  border: none;
  border-radius: 100vmax;
  cursor: pointer;
  font-weight: 500;
  width: max-content;
  height: max-content;
}


/* -------------------- */
/*    Custom Shapes     */
/* -------------------- */

.wave-divider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  fill: var(--color-secondary-dark);
}